<% if signed_in? %>
  <% if current_user.admin? %>
    <%= render "categories/form", target: @category %>
    <%= render "areas/form", target: @area %>
  <% end %>
<% end %>

<h3>Areas</h3>
<ul>
  <%= render @areas %>
</ul>

<h3>Categories</h3>
<ul>
  <%= render @categories %>
</ul>

<%= link_to "Posts", posts_path %>
