<% if signed_in? && current_user.admin? %>
  <%= render "categories/form", category: @category %>
<% end %>

<% if signed_in? %>
  <%= render "posts/form", post: @post, area: @area %>
<% end %>

<h1><%= @area.name %></h1>

<h3>Categories</h3>

<ul>
  <%= render @categories %>
</ul>

<%= render @posts %>
