<ul>
<li>
  <strong><%= post.title %></strong><br />
  <%= post.body %>

  <% if signed_in? %>
    <% if user_can_modify?(post) %>
      <%= link_to "Edit Post", edit_post_path(post) %>
      <%= form_for post, method: :delete do |form| %>
        <%= form.submit "Delete Post" %>
      <% end %>
    <% end %>

    <%= button_to "Report Spam", post_spams_path(post) %>

    <% if current_user.admin? %>
      <p>Spam count: <%= post.spam %></p>
    <% end %>
  <% end %>
</li>
</ul>
