<%= form_for [@area, @category] do |form| %>
  <%= render "error_messages", target: @category %>
  <% hidden_field :area_id, value: :id %>

  <div>
    <%= form.text_field :name %>
    <%= form.label :name %>
  </div>

  <%= form.submit %>
<% end %>
