<!DOCTYPE html>
<html>
  <head>
    <title>Craigstr</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="sign-in">
      <% if signed_in? %>
        <%= link_to "Sign out", session_path, method: :delete %>
        <%= current_user.email %>

        <% if current_user.admin == true %>
          <h5>You are an Admin</h5>
        <% end %>

      <% else %>
        <%= link_to "Sign in", new_session_path %>
        <%= link_to "Sign up", new_user_path %>
      <% end %>
    </div>

    <%= link_to "HOME", root_path %>
    <br>

    <%= yield %>
</body>
</html>
